<ul class="list-group list-group-flush">
    {% for category in categories %}
        <li class="list-group-item">
            <a href="{{ path('show_category',
                {'category_name': category.name|replace(' ', '_')|lower}) }}">{{ category.name }}
            </a>
        </li>
    {% endfor %}
</ul>
